<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Welcome to my page, it's still under development... obviously</p>
    <p>If you would like to login please enter the proper URL</p>
  </body>
</html>    
