<!DOCTYPE html>
<html>
  <head>
    <title>Sagan Ipsum</title>
  </head>
  <body>
    <h1>Hello there, you chose the Sagan ipsum.</h1>
    <h3>You are clearly of a cultured mind</h3>
    <h4>Either that, or you just really like to say billions and billions</h4>
    <hr>
    <p>Consciousness vastness is bearable only through love tingling of the spine white dwarf, consciousness! Radio telescope, extraplanetary radio telescope billions upon billions, Rig Veda finite but unbounded brain is the seed of intelligence! At the edge of forever the only home we've ever known, two ghostly white figures in coveralls and helmets are soflty dancing radio telescope ship of the imagination science! Across the centuries two ghostly white figures in coveralls and helmets are soflty dancing not a sunrise but a galaxyrise Rig Veda.</p>
  </body>
</html>
