<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome!.... wait</h1>
    <p>Listen I know I said enter the proper URL, <%= params[:id] %>, but you really shouldn't be here</p>
    <p>Why not checkout some awesome Ipsum instead!</p>
    <p>I've got:</p>
      <ul>
        <li>Standard Ipsum</li>
        <li>Whedon Ipsum</li>
        <li>Sagan Ipsum</li>
      </ul>
  </body>
</html>
