<!DOCTYPE html>
<html>
  <head>
    <title>Whedon Ipsum</title>
  </head>
  <body>
    <h1>Awesome, you chose the Whedon ipsum.</h1>
    <h3>You, my friend, clearly have good taste.</h3>
    <h4>Enjoy your Buffy, Firefly, Angel and Dollhouse related ipsum!</h4>
    <hr>
    <p>This distress call wouldn't be taking place in someone's pants, would it? Every single person down there is ignoring your pain because they're too busy with their own. I knew you were lying. Undead liar guy. She came from the grave much graver. Spike follows the exciting smell of blood and we follow the fairly ripe smell of Spike. You'll fight, and you'll shag, and you'll hate each other 'til it makes you quiver, but you'll never be friends. They've got those hoppy legs and twitchy little noses.</p>
  </body>
</html>
